Site web multivendeurs, donnant la possibilité de faire des achats en comparant les prix des différents vendeurs.
aux vendeurs de pouvoir proposer leurs produits sur mon site.
Ils peuvent aussi gérer leurs propres produits et les modifier à tout moment, se connecter à leur compte et modifier leurs informations personnelles.

